.context {
  padding: 4rem;

  .subtitle {
    margin: 0 auto;
    word-break: keep-all;
  }

  .profileImage {
    width: 100px;
    border-radius: 50%;
  }
  .tutorinformation {
    display: inline-block;
    margin: 1rem auto;

    .profileImg {
      width: 10rem;
      height: 10rem;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-bottom: 2rem;
      border-radius: 50%;
    }
    .name {
      font-weight: 900;
      margin-bottom: .5rem;
    }

    .information {
      display: block;
      color: grey;
      padding-left: 1rem;
    }

    .age {
      font-size: 1rem;
    }
  }
}




@media only screen and (max-width: 768px) {
  .context {
    padding: 2rem;

    .subtitle {
      font-size: 1rem;

    }
  }

}
