<footer>
    <div id="footer_left" class="left">
        <a href="http://github.com/nayunhwan" target="_blank"><i class="xi-github"></i></a>
        <a href="http://fb.com/nayunhwan" target="_blank"><i class="xi-facebook-official"></i></a>
        <a href="http://instagram.com/nayunhwan" target="_blank"><i class="xi-instagram"></i></a>
        <a href="mailto:kbk9288@gmail.com" target="_blank"><i class="xi-gmail"></i></a>
    </div>


    <div class="clear"></div>
    <div class="left" style="margin-top:5px;">
        <p class="ubuntu_font" style="color:#aaa; font-size: 14px">Powered by Github Pages<br>Choenan, Korea</p>
    </div>
    <div id="footer_right" class="right">
        <i class="xi-copyright" style="color:#aaa"></i> 2016 Yunhwan Na
    </div>
    <div class="clear"></div>
</footer>
