/*
  imports
*/

@import "styles/header";
@import "styles/body";
@import "styles/footer";
@import "typoAnimation/typo";

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.clear {

  &::after {
    content: ' ';
    display: block;
    clear: both;
  }
}
