<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}


<body>
  {% include header.html %}

  <div class="context">
    {% include typo.html %}
    <h2 class="subtitle">외적으로나 내적으로 아름다운 소프트웨어를 만든는 것,<br />
      이것이 제가 만드는 소프트웨어에 있어서의 철학이자 목표입니다.</h2>
    <br>
    <div class="informationWrapper">
      <div class="tutorinformation clear">
        <img class="profileImg left" src="./asset/img/nayunhwan.jpeg" />
        <div class="left">
          <h2 class="name">나 윤 환 <span class="age">(23)</span></h2>
          <h4 class="position">Web Front-end Developer</h4>
          <br />
          <div class="information">
            <label>현재</label>
            <ul>
              <li><b>한양대학교 ERICA</b> 소프트웨어학부 14</li>
              <li><b>한양대학교 ERICA</b> 디자인공학 융합전공</li>
              <li><b>exitsoft</b> Organizer</li>
              <li><b>elice</b> 웹 프론트엔드 인턴</li>
              <li><b>Microsoft Student Partners</b> Lead</li>
            </ul>
            <br />
            <label>경력</label>
            <ul>
              <li><b>셔틀콕</b> 총괄 개발자</li>
              <li><b>Additor</b> 웹 프론트엔드 인턴</li>
              <li><b>삼성소프트웨어 멤버십</b> 수료</li>
              <li><b>구글 개발자 그룹 천안&아산</b> 전 Organizer</li>
              <li><b>한양대학교 ERICA 프로그래밍 경시대회</b> 우수상</li>
              <li><b>한양대학교 ERICA 소프트웨어 경진대회</b> 최우수상</li>
              <li><b>아이브릿지</b> 코딩 교육 봉사활동</li>
              <li><b>원곡고등학교</b> 코딩 교육 봉사활동</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="main_lang">

        <h1><i class="icon-c_lang"></i></h1>
        <h1><i class="icon-java"></i></h1>
        <h1><i class="xi-python"></i></h1>
        <h1><i class="xi-html5"></i></h1>
        <h1><i class="xi-css3"></i></h1>
        <h1><i class="xi-javascript"></i></h1>
        <h1><i class="xi-android"></i></h1>
        <br>
        <h1><i class="xi-photoshop"></i></h1>
        <h1><i class="xi-illustrator"></i></h1>
        <h1><i class="xi-office"></i></h1>
        <h1><i class="devicon-angularjs-plain"></i></h1>

    </div>
    <br>
    <div id="company">
        <img src="/public/img/exit_logo.png">
        <img src="/public/img/google_logo.png">
        <img src="/public/img/gdg_logo.png">
        <img src="/public/img/samsung_logo.png">
        <img src="/public/img/ssm_logo.png">
        <img src="/public/img/ms_logo.png">
        <img src="/public/img/msp_logo.png">
    </div>
  </div>
  {% include footer.html %}

</body>

</html>
