<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}


<body>
  {% include header.html %}

  <div class="context">
    {% include typo.html %}
    <h2 class="subtitle">외적으로나 내적으로 아름다운 소프트웨어를 만든는 것,<br />
      이것이 제가 만드는 소프트웨어에 있어서의 철학이자 목표입니다.</h2>
    <br>
    <div class="informationWrapper">
      <div class="tutorinformation clear">
        <img class="profileImg left" src="./asset/img/nayunhwan.jpeg" />
        <div class="left">
          <h2 class="name">나 윤 환 <span class="age">(23)</span></h2>
          <h4 class="position">Web Front-end Developer</h4>
          <br />
          <div class="information">
            <label>현재</label>
            <ul>
              <li><b>한양대학교 ERICA</b> 컴퓨터공학 14</li>
              <li><b>한양대학교 ERICA</b> 디자인공학 융합전공</li>
              <li><b><a href="http://exitsoft.kr">exitsoft</a></b> Organizer (대표)</li>
              <li><b><a href="https://mspkorea.github.io">Microsoft Student Partners</a></b> Lead</li>
              <li><b><a href="https://vingle.net">Vingle</a></b> 프론트엔드 개발자 인턴</li>
            </ul>
            <br />
            <label>경력</label>
            <ul>
              <li><b><a href="http://shuttlecock.kr">셔틀콕</a></b> 총괄 개발자</li>
              <li><b><a href="https://additor.io">Additor</a></b> 웹 프론트엔드 개발자 인턴</li>
              <li><b><a href="https://elice.io">elice</a></b> 웹 프론트엔드 개발자 인턴</li>
              <li><b><a href="https://elice.io">elice</a></b> JAVA 교육과정 수업 조교</li>
              <li><b><a href="http://secmem.org">삼성 소프트웨어 멤버십</a></b> 수료</li>
              <li><b>구글 개발자 그룹 천안 & 아산</b> 전 Organizer</li>
              <li><b>아이브릿지</b> 코딩 교육 봉사활동</li>
              <li><b>원곡고등학교</b> 코딩 교육 봉사활동</li>
            </ul>
            <br />
            <label>수상</label>
            <ul>
              <li><b>삼성 소프트웨어 캠프 서비스 기획</b> 우수상</li>
              <li><b>한양대학교 ERICA 프로그래밍 경시대회</b> 우수상</li>
              <li><b>한양대학교 ERICA 소프트웨어 경진대회</b> 최우수상</li>
            </ul>
            <br />
            <label>언론 보도</label>
            <ul>
              <li>
                <b><a href="https://www.hanyang.ac.kr/web/www/news-plus?p_p_id=newsView_WAR_newsportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_newsView_WAR_newsportlet_action=view_message&_newsView_WAR_newsportlet_messageId=15198">
                한양대생이 만든 맥도날드 배달앱, 인기앱 등극</a></b>
              </li>
              <li>
                <b><a href="https://www.hanyang.ac.kr/web/www/news-plus?p_p_id=newsView_WAR_newsportlet&p_p_lifecycle=0&p_p_col_id=column-1&p_p_col_count=1&_newsView_WAR_newsportlet_action=view_message&_newsView_WAR_newsportlet_messageId=15336">
                  ERICA 셔틀버스 시간확인 어플이 있다?!
                </a></b>
              </li>
              <li>
                <b><a href="https://www.hanyang.ac.kr/web/www/news_all?p_p_id=newsView_WAR_newsportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_newsView_WAR_newsportlet_sCategoryId=0&_newsView_WAR_newsportlet_sCurPage=1&_newsView_WAR_newsportlet_sIsMyMessage=0&_newsView_WAR_newsportlet_action=view_message&_newsView_WAR_newsportlet_sRefLinkId=0&_newsView_WAR_newsportlet_sKeyword=%EB%82%98%EC%9C%A4%ED%99%98&_newsView_WAR_newsportlet_messageId=15389&_newsView_WAR_newsportlet_sOwnerId=0">
                2014년 9월 둘째 주 금주의 한양인, 내 꿈을 개발하다
                </a></b>
              </li>
              <li>
                <b><a href="http://www.hanyang.ac.kr/web/www/news_plan?p_p_id=newsView_WAR_newsportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_newsView_WAR_newsportlet_action=view_message&_newsView_WAR_newsportlet_messageId=16268">
                  한양대학교를 빛낼 영스타 75인
                </a>에 선발</b>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
