<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}

<body>

    {% include sidebar.html %}
    <!-- {% for category in site.categories %} -->
    <!-- <li><a name="{{ category | first }}">{{ category | first }}</a>
      <ul>
      {% for posts in category %}
        {% for post in posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      {% endfor %}
      </ul>
    </li>
  {% endfor %} -->
    <div id="context">
        {{ content }}
    </div>
    <div class="content container">

    </div>
    <br>
    {% include footer.html %}

</body>

</html>
